/* Button Styles */
.btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Variants */
.btn-primary {
  background-color: #2589FF;
  color: white;
}

.btn-primary:hover:not(:disabled) {
  background-color: #24ABFF;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

.btn-secondary:hover:not(:disabled) {
  background-color: #5a6268;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #1976d2;
  color: #1976d2;
}

.btn-outline:hover:not(:disabled) {
  background-color: #1976d2;
  color: white;
}
.btn-cancel {
  background-color: transparent;
  border: 1px solid #d1d5db ;
  color: #374151 !important;
  border-radius: 6px;
  text-transform: uppercase;
}

.btn-cancel:hover:not(:disabled) {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.btn-addButton {
  background: #AF22C6;
  color: white;
  font-weight: 600;
  /* width: 100%; */
  border-radius: 6px;
}
.btn-gradient {
  background: linear-gradient(95.04deg, #FFDA65 -15.49%, #FF3465 45.72%, #C567FF 131.1%);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  width: 100%;
}

.btn-gradient:hover:not(:disabled) {
  background: linear-gradient(95.04deg, #FFDA65 -15.49%, #FF3465 45.72%, #C567FF 131.1%);
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btn-orange {
  background: linear-gradient(91.69deg, #FF5600 1.43%, #FF3567 94.05%);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  /* width: 100%; */
  border-radius: 6px;
}

.btn-orange:hover:not(:disabled) {
  background: linear-gradient(91.69deg, #FF5600 1.43%, #FF3567 94.05%);
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  opacity: 0.8;
}

.btn-transparent {
  background-color: transparent;
  border: none;
  color: #1976d2;
  font-size: 12px;
  padding: 0;
}

.btn-transparent:hover:not(:disabled) {
  background-color: transparent;
  opacity: 0.8;
}




/* Sizes */
.btn-small {
  padding: 6px 12px;
  font-size: 12px;
}

.btn-medium {
  padding: 8px 16px;
  font-size: 14px;
}

.btn-large {
  padding: 12px 24px;
  font-size: 16px;
}
